<?xml version="1.0" encoding="utf-8"?>
<SystemSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <OrganizationName>Bold Reports On-Premise</OrganizationName>
  <InstallationFolder>BoldReports</InstallationFolder>
  <WelcomeNoteText>Welcome to Bold Reports On-Premise</WelcomeNoteText>  
  <CopyrightInformation>Copyright &amp;copy; 2001 - $$CurrentYear$$ Syncfusion Inc.&#160;&#160;&#160;|&#160;&#160;&#160;All Rights Reserved</CopyrightInformation>
  <IsShowPoweredBySyncfusion>true</IsShowPoweredBySyncfusion>
  <DRM>37hXer+iZLSrEXqDdaztSFzBK2nB9qT6pwnJIgP88MGPfYTCLRWWmwUp99qpZGfpy2zgehLpEHtfWBA1WuXhJhWQPoG02hvRIXgc9v3M+tjmWyDZPErygsVyuMvoXGag88c5Opr/yqR9mR+b7A8xNl6T5vM9iWsZewfS65KnnkoANBHYtLDZap/Fsqdt5STZmd4RV3bz+DJNq8E1Z1BmVgCJltpMTh7qv0eEjG4UJFNLalODzTdzUCex6+QYHwN46itf94auNmVOR+UiUN2eZqNXSJY7o97QmUrhFIIBzMj3fgapIt+j/0C7bXTmh9dc13rWAzsmmYVqEGgYvG3qgFpH3oOkBczKbnHGqxtTOtZnu+sPcI3joWu/Fiu7T5EjYwvqEKFmmpup7N8ikeSvczZY0mFruVDy+ytpoxH/JY0zCbHpnDzluKz1R7Wz2nHJil2XcZUdjK9McYIV+EKJBb4iomtG/JOdGgn46tzVykfZPXmM9GIvbEhFi+bleRO9bfPib089m2EGASrCAs/9jrkqs9YZoFoGdbuPPcnqWfxxnURc90VDTEnCKo9U7RHhvuvYrk9iKqulMS30HsjCQ/Du4wNdVTz6QbcHmoCrsfuwxzh6j7L17ECfKt23LHVEro3qZ3iISQnuyZQ9nG/ggCHiOmNcxCnYb6F51kzO+QEvYTVkoMLs2R2VjOdwv9Qixsh0ibqbJf3e0mF1x4BGDD+ufZZ44awt8tU641DUvQ0=</DRM>
  <InternalAppDataServiceUrl>http://localhost:3030/reporting/reportservice</InternalAppDataServiceUrl>
  <InternalAppIdpUrl>http://localhost:3030/</InternalAppIdpUrl>
  <InternalAppClientId>b9cdf109-9f1f-4436-8e87-c4ad1e572ff5</InternalAppClientId>
  <InternalAppClientSecret>jsQRiytBTDxj0lvRcNqQnxtldJPweKfgcvw7J/YD1HwUyImtQ5Z0U4w0mXjVX/IcNMNvbKf6zQTrI9jODJY4ZQ==</InternalAppClientSecret>
  <IdaTenant></IdaTenant>
  <IdaAudience></IdaAudience>
</SystemSettings>