<?xml version="1.0" encoding="utf-8"?>
<SystemSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <IsCustomBinding>false</IsCustomBinding>
  <BaseUrl>http://localhost:3030</BaseUrl>
  <CopyrightInformation>Copyright &amp;copy; 2001 - $$CurrentYear$$ Syncfusion Inc.   |   All Rights Reserved.</CopyrightInformation>
  <DRM>37hXer+iZLSrEXqDdaztSFzBK2nB9qT6pwnJIgP88MGPfYTCLRWWmwUp99qpZGfpy2zgehLpEHtfWBA1WuXhJhWQPoG02hvRIXgc9v3M+tjmWyDZPErygsVyuMvoXGag88c5Opr/yqR9mR+b7A8xNl6T5vM9iWsZewfS65KnnkoANBHYtLDZap/Fsqdt5STZmd4RV3bz+DJNq8E1Z1BmVgCJltpMTh7qv0eEjG4UJFNLalODzTdzUCex6+QYHwN46itf94auNmVOR+UiUN2eZqNXSJY7o97QmUrhFIIBzMj3fgapIt+j/0C7bXTmh9dc13rWAzsmmYVqEGgYvG3qgFpH3oOkBczKbnHGqxtTOtZnu+sPcI3joWu/Fiu7T5EjYwvqEKFmmpup7N8ikeSvczZY0mFruVDy+ytpoxH/JY0zCbHpnDzluKz1R7Wz2nHJil2XcZUdjK9McYIV+EKJBb4iomtG/JOdGgn46tzVykfZPXmM9GIvbEhFi+bleRO9bfPib089m2EGASrCAs/9jrkqs9YZoFoGdbuPPcnqWfxxnURc90VDTEnCKo9U7RHhvuvYrk9iKqulMS30HsjCQ/Du4wNdVTz6QbcHmoCrsfuwxzh6j7L17ECfKt23LHVEro3qZ3iISQnuyZQ9nG/ggCHiOmNcxCnYb6F51kzO+QEvYTVkoMLs2R2VjOdwv9Qixsh0ibqbJf3e0mF1x4BGDD+ufZZ44awt8tU641DUvQ0=</DRM>
  <OrganizationName>Bold ID</OrganizationName>
  <SqlConfiguration>
    <AuthenticationType>SqlServer</AuthenticationType>
    <ConnectionString>1euY0vRZQmBdRqaUyA7jpmSMe/pT2brO+ZX7cy6f69PlG+owRr5AcpV3xuG+lBwaw2c0+ba1KeKyr9vfLCXWY1m4UsNdRpRhLBIOHR0NPjgnH+f9yuzc63Vu5CahvlEoZirkeVWYtIuuBVO6RSiV4Gsr3UY7VxxIGe5N3GyzL8Y=</ConnectionString>
    <DataBaseName>arm_testing_1_28_4_2020_tm1</DataBaseName>
    <IsWindowsAuthentication>false</IsWindowsAuthentication>
    <Port />
    <Prefix>BOLDTC_</Prefix>
    <ServerName>SYNCLAPN17726\SQLEXPRESS</ServerName>
    <ServerType>MSSQL</ServerType>
    <SslEnabled>false</SslEnabled>
    <IsNewDatabase>false</IsNewDatabase>
  </SqlConfiguration>
  <StorageType>0</StorageType>
  <TimeFormat>false</TimeFormat>
  <WelcomeNoteText>Welcome to Bold Reports On-Premise</WelcomeNoteText>
  <DatabaseServerThreshold>0</DatabaseServerThreshold>
  <ElasticPoolThreshold>0</ElasticPoolThreshold>
  <UseCDN>false</UseCDN>
  <InternalAppBIUrl>http://localhost:3030/bi</InternalAppBIUrl>
  <InternalAppReportUrl>http://localhost:3030/reporting</InternalAppReportUrl>
  <InternalAppClientId>b9cdf109-9f1f-4436-8e87-c4ad1e572ff5</InternalAppClientId>
  <InternalAppClientSecret>jsQRiytBTDxj0lvRcNqQnxtldJPweKfgcvw7J/YD1HwUyImtQ5Z0U4w0mXjVX/IcNMNvbKf6zQTrI9jODJY4ZQ==</InternalAppClientSecret>
  <IsShowPoweredBySyncfusion>true</IsShowPoweredBySyncfusion>
  <IsEnableCopyrightInfo>true</IsEnableCopyrightInfo>
  <IsEnablePoweredBySyncfusion>true</IsEnablePoweredBySyncfusion>
  <LastModifiedDate>0001-01-01T00:00:00</LastModifiedDate>
</SystemSettings>